<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeasy.user.mapper.SysBankMapper" >
  <resultMap id="BaseResultMap" type="com.goldeasy.user.entity.SysBank" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="sort_no" property="sortNo" jdbcType="SMALLINT" />
    <result column="bank_state" property="bankState" jdbcType="SMALLINT" />
    <result column="bank_icon" property="bankIcon" jdbcType="VARCHAR" />
    <result column="bank_background_icon" property="bankBackgroundIcon" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <!--获取开户行列表信息-tianliya-->
  <select id="listSysBank" resultType="com.goldeasy.user.vo.SysBankVO">
    select id, bank_name bankName, bank_icon bankIcon from sys_bank where bank_state = 1 order by sort_no
  </select>
</mapper>