<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeasy.user.mapper.UserMarkAccountInfoMapper" >
  <resultMap id="BaseResultMap" type="com.goldeasy.user.entity.UserMarkAccountInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="mark_amount" property="markAmount" jdbcType="DECIMAL" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--根据id获取用户的积分-tianliya-->
  <select id="getMarkAmountById" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
    select mark_amount markAmount from user_mark_account_info where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="lockForUpdate" parameterType="java.lang.Long" resultType="com.goldeasy.user.entity.UserMarkAccountInfo">
    select id,user_id,mark_amount where user_id = #{userId,jdbcType=BIGINT} for update
  </select>
</mapper>