<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeasy.user.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.goldeasy.user.entity.UserInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="SMALLINT" />
    <result column="user_nick_name" property="userNickName" jdbcType="VARCHAR" />
    <result column="user_head_image" property="userHeadImage" jdbcType="VARCHAR" />
    <result column="user_real_name" property="userRealName" jdbcType="VARCHAR" />
    <result column="user_ID_card" property="userIdCard" jdbcType="VARCHAR" />
    <result column="user_ID_card_positive" property="userIdCardPositive" jdbcType="VARCHAR" />
    <result column="user_ID_card_back" property="userIdCardBack" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="SMALLINT" />
    <result column="real_name_auth_apply_time" property="realNameAuthApplyTime" jdbcType="TIMESTAMP" />
    <result column="real_name_auth_examine_time" property="realNameAuthExamineTime" jdbcType="TIMESTAMP" />
    <result column="real_name_auth_status" property="realNameAuthStatus" jdbcType="SMALLINT" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="register_from" property="registerFrom" jdbcType="VARCHAR" />
    <result column="register_ip" property="registerIp" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="login_from" property="loginFrom" jdbcType="VARCHAR" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="phone_attribution_city" property="phoneAttributionCity" jdbcType="VARCHAR" />
    <result column="phone_attribution_province" property="phoneAttributionProvince" jdbcType="VARCHAR" />
    <result column="general_manager_id" property="generalManagerId" jdbcType="BIGINT" />
    <result column="marketing_director_id" property="marketingDirectorId" jdbcType="BIGINT" />
    <result column="manager_id" property="managerId" jdbcType="BIGINT" />
    <result column="director_id" property="directorId" jdbcType="BIGINT" />
    <result column="broker_id" property="brokerId" jdbcType="BIGINT" />
  </resultMap>

  <!--获取用户的昵称、用户名、头像-tianliya-->
  <select id="getUserInfoById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select INSERT(t1.user_name,4,4,'****') user_name , t1.user_nick_name , t1.user_head_image
    from user_info t1
    where t1.id = #{id,jdbcType=BIGINT}
  </select>

  <!--获取用户的头像地址-tianliya-->
  <select id="getUserHeadImage" parameterType="java.lang.Long" resultType="java.lang.String">
    select user_head_image from user_info where id = #{userId,jdbcType=BIGINT}
  </select>

  <!--用户获取昵称-tianliya-->
  <select id="getUserNickName" parameterType="java.lang.Long" resultType="com.goldeasy.user.vo.UserNickNameVO">
    select IFNULL(user_nick_name,'未设置昵称') userNickName from user_info where id = #{userId,jdbcType=BIGINT}
  </select>

  <!--用户修改昵称-tianliya-->
  <update id="updateUserNickName">
    update user_info set user_nick_name = #{userNickName,jdbcType=VARCHAR} where id = #{userId,jdbcType=BIGINT}
  </update>

  <!--用户修改头像-tianliya-->
  <update id="updateUserHeadImage">
    update user_info set user_head_image = #{userHeadImage,jdbcType=VARCHAR} where id = #{userId,jdbcType=BIGINT}
  </update>

  <!--获取用户实名认证信息-tianliya-->
  <select id="getUserRealNameAuthInfo" parameterType="java.lang.Long" resultType="com.goldeasy.user.vo.UserRealNameAuthVO">
    SELECT INSERT(user_real_name,1,2,'**') userRealName, INSERT(user_ID_card,5,CHAR_LENGTH(user_ID_card)-7,'*******') userIdCard, user_ID_card_positive idCardPositive, user_ID_card_back idCardBack,
       real_name_auth_status realNameAuthState
    FROM user_info
    WHERE id = #{id,jdbcType=BIGINT}
  </select>

  <!--用户实名认证申请-tianliya-->
  <update id="userRealNameAuth" parameterType="com.goldeasy.user.dto.UserRealNameDTO">
    UPDATE user_info
    SET user_real_name = #{userRealName,jdbcType=VARCHAR},
        user_ID_card = #{userIdCard,jdbcType=VARCHAR},
        user_ID_card_positive = #{idCardPositive,jdbcType=VARCHAR},
        user_ID_card_back = #{idCardBack,jdbcType=VARCHAR},
        real_name_auth_apply_time = #{realNameAuthApplyTime,jdbcType=TIMESTAMP},
        real_name_auth_status = #{realNameAuthState,jdbcType=SMALLINT}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
</mapper>