<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeasy.user.mapper.UserAlipayMapper" >
  <resultMap id="BaseResultMap" type="com.goldeasy.user.entity.UserAlipay" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="alipay_num" property="alipayNum" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--绑定支付宝-tianliya-->
  <insert id="bindAliPay" parameterType="com.goldeasy.user.entity.UserAlipay">
    INSERT INTO user_alipay (alipay_num,user_id,gmt_create) VALUES(#{alipayNum,jdbcType=VARCHAR},#{userId,jdbcType=BIGINT},#{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <!--修改绑定的支付宝-tianliya-->
  <update id="updateAliPay" parameterType="com.goldeasy.user.entity.UserAlipay">
    UPDATE user_alipay SET alipay_num = #{alipayNum,jdbcType=VARCHAR} WHERE id = #{id,jdbcType=BIGINT}
  </update>
  <!--获取绑定的支付宝-tianliya-->
  <select id="getUserAliPayNum" parameterType="java.lang.Long" resultType="com.goldeasy.user.vo.UserAlipayVO">
    SELECT id,alipay_num aliPayNum FROM user_alipay WHERE user_id = #{userId,jdbcType=BIGINT}
  </select>
</mapper>